/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set body background color */
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #ffc107;
  }
  
  /* Hero section styles */
  .hero {
    /* background-image: url('hero-background.jpg'); */
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero h1 {
    color: #fff;
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 2px #333;
  }
  
  /* Content section styles */
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .content h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .content p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .member {
    text-align: center;
  }
  
  .member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .member h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .member p {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    font-size: 18px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  footer a:hover {
    color: #ffc107;
  }
  .stt{
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-size: medium;
  }