

<div class="main-container">
  <header>
    <div class="nav-container">
      <a routerLink="Home">Home</a>&nbsp;&nbsp;
      <a routerLink="Aboutus">About</a>&nbsp;&nbsp;
      <a routerLink="ReactiveForms">Reactive Form</a>&nbsp;&nbsp;
      <a routerLink="Contact">ContactUs</a>
    </div>
  </header>
  <div class="component-container">
    <!-- <app-reactiveform></app-reactiveform>
    <app-aboutus></app-aboutus>
    <app-contact></app-contact>
    <app-home></app-home> -->
    <router-outlet></router-outlet>
  </div>
</div>

